.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.button {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
  background-color: #14131a;
  color: white;
}
#eq {
  width: 135px;
}
.org{
  background-color: #ff9f0a;
}
.numPad {
  display: flex;
  justify-content: center;
  align-items: center;
}
#grey {
  background-color: #464647;
}